<section id="campaigns" class="grid">
  <h1 class="space1">Campaigns</h1>
  <table id="campaign-table" class="table table-striped">
    <tbody>
      <!-- Backbone please fill in the rows here -->
    </tbody>
    <tfoot>
      <tr class="campaign-list-item add-item">
        <td class="status">
          <span class="label label-lightblue">Not Published</span>
        </td>
        <td class="locked">
          <span class = "label label-lightblue"><i class="icon-unlock"></i> Unlocked</span>
        </td>
        <td class="name">


          <h2 id="campaign-name-box" class="placeholder" contenteditable="true" data-placeholder="Create new campaign">
          </h2>

          <!--
          <div class="input-append">
            <input type="text" name="newName" />
            <span class="addon">
              <button class="btn gray disabled">
                <i class="icon-ok"></i>
              </button>
            </span>
          </div>
        -->

        </td>
        <td class="buttons">
          <div class="btn-group">
            <a class="btn edit-btn large disabled" href="#"><i class="icon-edit"></i> Edit</a>
            <a class="btn stats-btn large disabled" href="#"><i class="icon-tasks"></i> Stats</a>
          </div>
        </td>
      </tr>
    </tfoot>
  </table>

</div>
