<td class="status">
	<span class="label label-yellow">Locked</span>
</td>
<td class="name">{{name}}</td>
<td class="buttons">
<div class="btn-group">
  <a class="btn edit-btn" href="#">Edit</a>
  <a class="btn stats-btn" href="#">Stats</a>
</div>
</td>
