<td class="status">
	<p><span class="dot dot-green"></span>{{model.status}}</p>
</td>
<td class="name">{{model.name}}</td>
<td class="buttons">
<div class="btn-group">
  <a class="btn edit-btn" href="#">Edit</a>
  <a class="btn stats-btn" href="#">Stats</a>
</div>
</td>
