<div class="row space2">
  <div class="span12">
    <h1> {{name}} </h1>
  </div>
</div>
<div class = "row space2">
  <div class="span12 slider-wrapper">
    <div id="split-test-slider"></div>
    <div class="progress-bar progress-bar-red" id="split-test-bar-a" style="-webkit-transition: width 0s;"></div>
    <div class="progress-bar progress-bar-yellow" id="split-test-bar-b" style="-webkit-transition: width 0s;"></div>
  </div>
</div>
<div class="row space2">
  <div class="span6">
    <h2>A</h2>
    <div id="codeA" class="code-input">{{test_a}}</div>
  </div>
  <div class="span6">
    <h2>B</h2>
    <div id="codeB" class="code-input">{{test_b}}</div>
  </div>
</div>
<br>
<hr>
<br>
<br>
<div class="row">
  <a class="btn large gray span4 offset1" name="cancel" href="/#campaigns">Cancel</a>
  <button id="save" class="btn large span4 offset2" name="save">Save campaign</button>
</div>
