<td class="status">
  {{#if published}}
    <span class="label label-green">Published</span>
  {{else}}
    <span class="label label-lightblue">Not Published</span>
  {{/if}}
</td>
<td class="locked">
  {{#if locked}}
    <span class="label label-yellow"><i class="icon-lock"></i> Locked</span>
  {{/if}}
</td>
<td class="name"><h2>{{name}}</h2></td>
<td class="buttons">
<div class="btn-group">
  <a class="btn edit-btn large" href="#campaign/{{ id }}"><i class="icon-edit"></i> Edit</a>
  <a class="btn stats-btn large" href="#campaign/{{ id }}/stats"> <i class="icon-tasks"></i> Stats
  </a>
  <a id="btn-remove" class="btn large">
    <i class="icon-remove"></i>
  </a>

</div>
</td>
