<div class="row space2">
  <div class="span12">
    <div id="split-test-bar-a" class="progress-bar progress-bar-yellow fat"></div>
    <div id="split-test-bar-b" class="progress-bar progress-bar-red fat"></div>
  </div>
</div>
<div class="row">
  <div class="span6">
    <label>Split amount: </label>
    <input type="text" id="split-test-input" class="span1" value="{{split}}">
  </div>
</div>
<div class="row space2">
  <div class="span6">
    <h2>A</h2>
    <div id="codeA" class="code-input">{{ test_a }}</div>
  </div>
  <div class="span6">
    <h2>B</h2>
    <div id="codeB" class="code-input">{{ test_b }}</div>
  </div>
</div>
<br>
<hr>
<br>
<br>
<div class="row">
  <button class="btn large gray span4 offset1" name="cancel" href="#">Cancel</button>
  <button id="save" class="btn large span4 offset2" name="save" href="#">Save campaign</button>
</div>
