<div class="row space2">
  <div class="span12">
    <div id="split-test-bar-a" class="progress-bar progress-bar-yellow fat"></div>
    <div id="split-test-bar-b" class="progress-bar progress-bar-red fat"></div>
  </div>
</div>
<div class="row">
  <div class="span6">
    <label>Split amount: </label>
    <input type="text" id="split-test-input" class="span1"/>
  </div>
</div>
<div class="row space2">
  <div class="span6">
    <h2>A</h2>
    <div id="codeA" class="code-input">int main( int argc, const char *argv[] ) {
          printf( "hello world\n" );
          return 0;
      }</div>
  </div>
  <div class="span6">
    <h2>B</h2>
    <div id="codeB" class="code-input">int main( int argc, const char *argv[] ) {
          printf( "hello world\n" );
          return 0;
      }</div>
  </div>
</div>
<br>
<hr>
<br>
<br>
<div class="row">
  <button class="btn large gray span4 offset1" name="cancel" href="#">Cancel</button>
  <button class="btn large span4 offset2" name="save" href="#">Save campaign</button>
</div>

{{! <pre id="editor">function foo(items) {
    var i;
    for (i = 0; i &lt; items.length; i++) {
        alert("Ace Rocks " + items[i]);
    }
}</pre>
    
<script src="src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/twilight");
    editor.getSession().setMode("ace/mode/javascript");
</script> }}
