<div class="row space2">
  <div class="span12">
    <div class="progress-bar-container progress-bar-well">
        <div class="progress-bar progress-bar-yellow"></div>
    </div>
  </div>
</div>
<div class="row space2">
  <div class="span6">
    <textarea id="inputA" class="code-input"></textarea>
  </div>
  <div class="span6">
    <textarea id="inputB"></textarea>
  </div>
</div>
<div class="row">
  <button class="btn large gray span4 offset1" href="#">Cancel</button>
  <button class="btn large gray span4 offset2" href="#">Save campaign</button>
</div>