.campaign-list-page {

  .campaign-list-item {

    .status {
      text-align: center;
    }

    td {
      vertical-align: middle;
    }

    td:last-child {
      text-align: right;
    }

    td.locked, td.status {
      width: 100px;
    }

    .placeholder {
      color: gray;
    }

    .btn-group {
      vertical-align: middle;
    }

    #addRow {
      border: 1px solid gray;
    }

    h2[data-placeholder]:not(:focus):not([data-div-placeholder-content]):before {
      content: attr(data-placeholder);
      float: left;
      margin-left: 5px;
      color: gray;
    }

    .lock-btn, .publish-btn {
      cursor: pointer;
    }
  }
}