.campaign-page {

  /* ------------------------------------------
  Campaign Editor
  ------------------------------------------*/

  .fat {

    $height: 50px;

    &.progress-bar-container, &.progress-bar {
      height: $height;
      border-radius: 5px;
    }

    &.progress-bar {
      height: $height - 4px;
      border-radius: 0;
      width: 49%;
      display: inline-block;
      float: left;
      min-width: 0;
    }

  }

  .code-input {
    width: 100%;
    min-height: 400px;
    border-top: 2px dashed #CCC;
    border-right: 2px dashed #CCC;
    border-bottom: 2px dashed #CCC;
  }
}