.campaign-list-page {
  tr.campaign {

    // display: block;
    height: 75px;

    .status {
      // background-color: #FEE;
      // width: 80px;
      text-transform: uppercase;
      color: #666;
      width: 10%
    }

    .name {
      font-size: 2em;
      font-weight: 600;
    }

    .buttons {
      width: 15%
    }

      // > * {
      //  display: inline-block;
      // }
  }
}